body {
    padding: 0;
    margin: 0;
}

.homescreen {
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(0, 0, 0); */

    display: flex;


}

.part1 {
    width: 100%;
    /* background-color: rgb(206, 255, 216); */
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}






.main_img {
    width: 100%;
    height: 100%;


}




.btn_normal {
  
    background-color: rgb(247, 247, 247);
    color: rgb(55, 55, 55);
    border: 0.5px solid rgb(182, 182, 182);
    width: 10vw;
    font-size: 50%;
}



.visit {
    border: none;
    color: black;
    background-color: rgb(247, 247, 247);


    width: 15vw;
    height: 7vh;
    font-size: 70%;
}


.middle{
    height : 65vh;
    width:  100%;
    /* background-color: red; */
}





.heading{
    width: 15%;
    height: 7%;
}



/* .ab{
    width: 70vw;
    height: 20vh;
    background-color: rgba(255, 170, 0, 0.4);
    position: absolute;
    top: 0%;
    right: 0%;

    border-radius: 0% 0% 0% 100% ;
} */




@media screen and (max-width: 950px) {


    .part2{
        display: none;
    }

    .part1{
        width: 100%;
    }

    .heading{
        font-size: medium;
    }

    .visit{
        font-size: xx-small;
        width: 40%;
    }


    .btn_span{
        display: flex;
        flex-direction: column;
    }


    .btn_normal{
     font-size: 45%;
     width: 25vw;
     height: 5vh;   
    }
}




@media screen and (max-width: 500px) {

    .visit{
        font-size: 45%;
    }

    .btn_normal{
        font-size: 40%;
    }

    .heading{
        width: 35%;
        height: 5%;
        /* background-color: red; */
    }

    .middle{
        height: 50vh;
    }

}